<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Teoria elementar - Bateria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>

  <div class="containerExercises">

    <nav id="childrenPageNav">
      <a class="logo" href="/src/views/index.html">
        <img src="/src/assets/images/svg/logo.svg">
        <p data-text-node="appName"></p>
      </a>
      <a href="/src/views/theory.html" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"></a>
      <div class="userUiSettings">
        <button id="changeTheme" value="dark"></button>
        <button id="englishTranslation" value="enus"><img
            src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
        <button id="portugueseTranslation" value="ptbr"><img
            src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
      </div>
    </nav>

    <!--presentation-->
    <div class="presentation">
      <div class="presentationContent">
        <h1 class="presentationText" data-text-node="theoryDrums"></h1>
      </div>
    </div>

  </div>

  <article>

    <section class="content-unit">

      <h2>Contando um pouquinho sobre o instrumento</h2>
          <p>Um dos instrumentos de percussão mais famosos, a bateria é composta por vários tambores e pratos, dispostos ergonomicamente para que um único indivíduo, o baterista, possa tocá-los. Por padrão a bateria possui o seguinte layout:</p>
        </br>  
            <p>Bumbo: O maior tambor, geralmente fica centralizado em relação aos outros. É tocado por um pedal que, quando acionado, faz com que uma baqueta se choque contra a pele do instrumento, produzindo um som grave e pulsante que marca o tempo da música.</p>  
        </br>
          <p>Caixa: Composta de duas peles, uma inferior e outra superior, esticadas em um aro metálico. Ao ser tocada pelas baquetas produz uma sonoridade que se assemelha a um estalo.</p> 
        </br>
          <p>Tom-toms: Tambores menores posicionados em suportes numa posição elevada em relação ao bumbo. Comumente se encontram dois ou mais tom-toms por bateria, onde cada um produz um som específico quando percutido.</p>
        </br>
          <p>Pratos: Discos metálicos que produzem um som agudo ao serem percutidos. Uma bateria pode conter vários tipos de prato. O chimbal consiste em um par de pratos que são abertos e fechados. Já os pratos de condução são maiores e mais pesados, usados para acentuações. Os crashes, por sua vez, são pratos utilizados para criarem uma explosão sonora.</p>
        </br>
          <p>Os bateristas usam de diversos tipos de baquetas para tocarem diferentes tipos de tambores, pratos e tom-toms. A formação de padrões complexos de batidas, com variações do uso das mãos e forca empregada garantem uma sonoridade ímpar à esse instrumento.</p>
        </br>
          <p>A bateria é um instrumento encontrado em diversos estilos musicais como o rock, pop, jazz, blues, funk, metal, reggae, dentre outros. É ela quem fornece a base para outros instrumentos, marcando o ritmo e compondo a sensação geral da música</p>
        </br>
          <p>Para se aprender a tocar bateria é necessário desenvolver habilidades como a coordenação motora e a percepção rítmica. Técnicas como a independência entre os membros permitirão que mãos e pés possam desempenhar funções completamente diferentes. Não só a habilidade motora é requerida, como também a resistência para repetir diversas vezes o mesmo movimento, com diferentes intensidades, e não se lesionar ou fadigar. Com muita dedicação e estudo a bateria pode se tornar um instrumento extremamente envolvente e estimulante.</p>
    </section>

    <section class="resources-unit">
      <h2>Indicações de leitura</h2>
      <ul>
        <li><a href="https://escolaeducacao.com.br/historia-da-musica/">Matéria mais detalhada sobre o assunto</a></li>
        <li><a href="https://www.amazon.com.br/Uma-breve-hist%C3%B3ria-m%C3%BAsica-Bennett/dp/8571103658">Leitura recomendad</a></li>
        <li><a href="#">Vídeo explicativo sobre intensidade e altura</a></li>
      </ul>
    </section>

  </article>
  <script src="../../scripts/main.js" type="module"></script>
</body>

</html>