<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Teoria elementar - Violino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>

  <div class="containerExercises">

    <nav id="childrenPageNav">
      <a class="logo" href="/src/views/index.html">
        <img src="/src/assets/images/svg/logo.svg">
        <p data-text-node="appName"></p>
      </a>
      <a href="/src/views/theory.html" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"></a>
      <div class="userUiSettings">
        <button id="changeTheme" value="dark"></button>
        <button id="englishTranslation" value="enus"><img
            src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
        <button id="portugueseTranslation" value="ptbr"><img
            src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
      </div>
    </nav>

    <!--presentation-->
    <div class="presentation">
      <div class="presentationContent">
        <h1 class="presentationText" data-text-node="theoryViolin"></h1>
      </div>
    </div>

  </div>

  <article>

    <section class="content-unit">

      <h2>Contando um pouquinho sobre o instrumento</h2>
          <p>O violino é um instrumento pertencente a família dos instrumentos de cordas friccionadas. O som produzido por ele é popularmente conhecido por ser muito belo, único e versátil, se aplicando a estilos musicais como jazz, folk, música clássica, dentre outros. Existem diversas curiosidades e informações sobre o violino, bem como sobre a maneira de se tocá-lo.</p>
        </br>
          <p>O violino possui construção bastante simples. Em síntese ele é composto pela caixa de ressonância, que é a parte principal, feita em madeira, comumente com uma abertura no tampo, pelo pescoço, voluta e cravelha, que compõe o local onde se seleciona qual nota tocará. Diferente de outros instrumentos o violino possui diversos tamanhos para acomodar músico de diferentes idades e tamanhos físicos. O tamanho padrão é o 4/4, porem existem o 3/4, 1/2, 1/4, 1/8, 1/10 e 1/16. O violino é afinado nas notas sol, ré, lá e mi, da corda mais grave para a mais aguda.</p>  
        </br>
          <p>O violino é um instrumento muito versátil, podendo produzir uma ampla fama de sons, desde os suaves e delicados, até os brilhantes e intensos. Técnicas como vibrato, staccato, legato, pizzicato e harmônicos podem ser utilizados pelo músico para adicionar nuances e emoção à sua interpretação. Devido a isso, esse instrumento extrapola a música clássica, local onde é mais utilizado e marcante, para adentrar em gêneros completamente distintos como música folclórica e étnica, funk, música popular, dentre outros.</p> 
        </br>
          <p>O aprendizado do violino requer bastante dedicação, prática e orientação de um professor qualificado. O aluno irá posicionar a base do instrumento entre o queixo e o obro esquerdo. A mao esquerda irá pressionar as cordas no praco do violino para alterar a altura do som. A mao direita segura um arco composto por crina de cavalo amarrada a um arco de madeira. A fricção dessa crina com as cordas produz o som. A execução desses movimentos com excelência é complexa, pois o violino é um instrumento desafiador. Com paciência e perseverança é possível extrair sons maravilhosos e melódicos desse aparelho.</p>
    </section>

    <section class="resources-unit">
      <h2>Indicações de leitura</h2>
      <ul>
        <li><a href="https://aprendacomotocar.com/historia-do-violino/">Matéria mais detalhada sobre o assunto</a></li>
        <li><a href="https://www.serenatanet.com.br/violino-vogga-von-144n-4-4/p">Onde comprar</a></li>
      </ul>
    </section>

  </article>
  <script src="../../scripts/main.js" type="module"></script>
</body>

</html>