<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Teoria elementar - Saxofone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>

  <div class="containerExercises">

    <nav id="childrenPageNav">
      <a class="logo" href="/src/views/index.html">
        <img src="/src/assets/images/svg/logo.svg">
        <p data-text-node="appName"></p>
      </a>
      <a href="/src/views/theory.html" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"></a>
      <div class="userUiSettings">
        <button id="changeTheme" value="dark"></button>
        <button id="englishTranslation" value="enus"><img
            src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
        <button id="portugueseTranslation" value="ptbr"><img
            src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
      </div>
    </nav>

    <!--presentation-->
    <div class="presentation">
      <div class="presentationContent">
        <h1 class="presentationText" data-text-node="theorySaxophone"></h1>
      </div>
    </div>

  </div>

  <article>

    <section class="content-unit">
      <h2 data-text-node="testeNaMoral"></h2>
      <p data-text-node="testeNaMoral2"></p>

      <!-- <h2>Contando um pouquinho sobre o instrumento</h2>
      <p>Popularmente conhecido como Sax, é um instrumento de sopro inventado na década de 1840, feito de latão e
        composto por vários tubos, chaves e almofadas. Possui uma palheta única que , quando soprada pelo músico, vibra,
        produzindo o som.</p>
      </br>
      <p>O Sax pode possuir vários tamanhos, cada um com sua afinação específica. O mais popular é o saxofone alto,
        porem existe o tenor, soprano e barítono. O tamanho do equipamento resulta em diferentes sons produzidos. Cada
        um possui sua própria extensão tonal.</p>
      </br>
      <p>Para se tocar o saxofone é necessário soprar ar através do bocal, sempre controlando a pressão e posição da
        embocadura. As chaves, manuseadas pelas mãos, permitem que o músico altere a altura da nota, criando um timbre
        distintivo e expressivos, indo de sons mais suaves e melancólicos até sons mais energéticos e brilhantes. O
        músico pode utilizar de algumas técnicas como vibrato, bend, glissando e growl para adicionar sentimento e
        energia ao seu som.</p>
      </br>
      <p>O sax pode atuar como instrumento solo ou como parte de um seção de sopros. Ele adiciona harmonia e textura à
        música. Como é um instrumento versátil, ele se associa principalmente o jazz, porem também é utilizado na música
        clássica, especialmente em orquestras e músicas de câmara, em grupos de rock, big bands, música popular e até
        mesmo em alguns estilos de música folclórica.</p>
      </br>
      <p>Aprender a tocar o saxofone reque muita prática, dedicação e orientação de um professor qualificado. A leitura
        de partituras, técnica e improvisação são aspectos relevantes para que possa desenvolver habilidades musicas. A
        embocadura, respiração e coordenação dos dedos irão permitir que o músico extraia o máximo desse instrumento
        expressivo e cativante, capaz de transmitir emoção e energia através de sua sonoridade única e versátil.</p> -->
    </section>

    <section class="resources-unit">
      <h2>Indicações de leitura</h2>
      <ul>
        <li><a href="https://pt.wikipedia.org/wiki/Saxofone">Matéria mais detalhada sobre o assunto</a></li>
        <li><a
            href="https://www.serenatanet.com.br/saxofone-alto-vogga-vsas701n-laqueado-dourado---afinacao-em-do/p">Onde
            comprar</a></li>
      </ul>
    </section>

  </article>
  <script src="../../scripts/main.js" type="module"></script>
</body>

</html>