<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Teoria elementar - unidade 1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>

  <div class="containerExercises">

    <nav id="childrenPageNav">
      <a class="logo" href="/src/views/index.html">
        <img src="/src/assets/images/svg/logo.svg">
        <p data-text-node="appName"></p>
      </a>
      <a href="/src/views/theory.html" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"></a>
      <div class="userUiSettings">
        <button id="changeTheme" value="dark"></button>
        <button id="englishTranslation" value="enus"><img
            src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
        <button id="portugueseTranslation" value="ptbr"><img
            src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
      </div>
    </nav>

    <!--presentation-->
    <div class="presentation">
      <div class="presentationContent">
        <h1 class="presentationText" data-text-node="module-1"></h1>
      </div>
    </div>

  </div>

  <article>

    <section class="content-unit">

      <h2>Contando um pouquinho sobre a história da música</h2>
          <p>No tempo pré-histórico, seres humanos começaram a ordenar os sons do ambiente por meio de instrumentos primitivos e o som de sua própria voz. Com o passar do tempo a música foi se desenvolvendo e sendo cada vez mais presente no dia a dia, refletindo culturas, crenças e influencias artísticas de diversos períodos históricos, como veremos abaixo.</p>
        </br>
          <p>A civilização egípcia, grega e romana utilizava da música em rituais religiosos, cerimônias e festivais. Lá surgiram instrumentos de sopro, como a flauta, e de corda, como a harpa e a citara, considerados como uns dos instrumentos mais antigos da humanidade.</p>  
        </br>
          <p>A idade média, marcada pelo catolicismo e seu domínio em diversos âmbitos socioeconômicos, trouxe para o aspecto musical o canto gregoriano (uma espécie de música vocal monofônica), que era praticado em mosteiros e catedrais. Os grupos vocais e coros desenvolveram, com o passar do tempo, formas mais complexas de música polifônica como o moteto e o madrigal.</p> 
        </br>
          <p>Após, no período do Renascimento, a música polifônica foi disseminada a partir de partituras, alcançando com mais facilidade à população e permitindo uma difusão mais ampla.</p>
        </br>
          <p>O período barroco avançou bastante no que se refere à música instrumental, por meio de concertos, sonatas e fugas. Nesse período grandes nomes como Johann Sebastian Bach e Antônio Vivaldi tiveram destaque.</p>
        </br>
          <p>No século XVIII nomes como Mozart e Beethoven, influenciados pelo período clássico e pela simplicidade e proporção musical, expandiram as possibilidades da música instrumental, com destaque para a sinfonia, a sonata e o quarteto de cordas.</p>
        </br>
          <p>O século XIX foi marcado pelo surgimento do romantismo musical. Chopin, Robert Schumann e Franz Schubert colocavam em suas obras emoções intensas, explorando novas sonoridades e harmonias. Nessa época, a ópera floresceu nas obras de Giuseppe Verdi e Richard Wagner.</p>
        </br>
          <p>No século XX a música passou por sua maior revolução. Movimentos e estilos musicais como impressionismo, expressionismo, minimalismo e jazz foram surgindo. A música popular a partir de gêneros como rock, pop, jazz, hip-hop, reggae e eletrônico, dominaram as paradas musicais, demonstrando novas técnicas empregadas para se criar um som, e unindo mais intrinsecamente a música à cultura.</p>
    </section>

    <section class="resources-unit">
      <h2>Indicações de leitura</h2>
      <ul>
        <li><a href="https://escolaeducacao.com.br/historia-da-musica/">Matéria mais detalhada sobre o assunto</a></li>
        <li><a href="https://www.amazon.com.br/Uma-breve-hist%C3%B3ria-m%C3%BAsica-Bennett/dp/8571103658">Leitura recomendad</a></li>
        <li><a href="#">Vídeo explicativo sobre intensidade e altura</a></li>
      </ul>
    </section>

  </article>
  <script src="../../scripts/main.js" type="module"></script>
</body>

</html>