#minimalNav {
  grid-column: 1/6;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 calc((100% - 1200px)/2);
  grid-template-areas: "button0 logo logo  logo userUI";
  align-items: center;
  justify-items: center;
}
#minimalNav .logo {
  grid-area: logo;
  width: 100%;
  height: 100%;
}
#minimalNav .userUiSettings {
  grid-area: userUI
}
#minimalNav a:nth-child(2) {
  grid-area: button0
}
#minimalNav a {
  height: min-content;
}
#minimalNav button img {
  pointer-events: none;
}
#minimalNav a img {
  pointer-events: none;
  filter: var(--generic-svg-secondary-text-color);
  height: 100%;
}
#minimalNav .logo img {
  filter: var(--generic-svg-white);
  width: 2.2em;
}
#minimalNav .backBtn img {
  width: 0.8em;
  align-self: center;
}
.light #minimalNav {
  background-color: #0a2740;
  transition: background-color 0.2s;
}

.playground {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 10vh min-content minmax(20vh, 30vh);
  align-items: center;
  justify-items: end;
  width: 100%;
  padding: 0 calc((100% - 1200px)/2);
  grid-template-areas:  ". . . . . . . . . . . ."
                        "buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv"
                        " tunningBtn rootNoteBtn scaleBtn sharpFlatBtn . . . . . . . ."
                        "diagram diagram diagram diagram diagram diagram diagram diagram diagram diagram diagram diagram";
}
.diagram {
  grid-area: diagram;
  height: 100%;
  width: 100%;

  display: grid;
  grid-auto-flow: column;
}
.buttons {
  width: 100%;
  height: 70%;
  grid-area: buttonsDiv;
}
/* #guitarBtn {grid-area: guitarBtn}
#guitarBtn {grid-area: bassBtn}
#guitarBtn {grid-area: pianoBtn} */
#tunningBtn {grid-area: tunningBtn}
#rootNoteBtn {grid-area: rootNoteBtn}
#scaleBtn {grid-area: scaleBtn}
#sharpFlatBtn {grid-area: sharpFlatBtn}
.playgroundField {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
}
.playgroundField button {
  /* padding: 10px; */
}
.note, .fretCount {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width : 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
}
.fret {
  grid-row: 1/-1;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.dark .note {
  box-shadow: 0px 0px 0px 1px rgb(204, 204, 204);
}
.dark .fretCount {
  color: white;
  background-color: #f2722d;
  box-shadow: 0px 0px 0px 1px rgb(204, 204, 204);
}

.dark .playground {
  color: rgb(204, 204, 204);
}

.light .note {
  color: #0a2740;
  box-shadow: 0px 0px 0px 1px #0a2740;
}

.light .playground {
  color: #0a2740;
}

.light .fretCount {
  color: white;
  background-color: #0a2740;
  box-shadow: 0px 0px 0px 1px rgb(204, 204, 204);
}

@media (max-width: 1200px) {
  body {
    padding: 0 5vh;
  }
}
@media (max-width: 600px) {
  body {
    padding: 0 20px;
  }
  .buttons button {
    margin: 0 5px;
    font-size: 0.8em;
  }
  .buttons button:hover {
    font-size: 0.9em;
  }
  #minimalNav {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "button0 logo ."
      "button0 logo ."
      ". userUI .";
    align-items: center;
    justify-items: center;
  }

  .playground {
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:  "buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv buttonsDiv"
                          " tunningBtn rootNoteBtn scaleBtn sharpFlatBtn . . . . . . . ."
                          "diagram diagram diagram diagram diagram diagram diagram diagram diagram diagram diagram diagram"
                          ". . . . . . . . . . . ."
                          ". . . . . . . . . . . .";
  }
  .diagram {
    min-height: 20vh;
  }
  .note {
    font-size: 0.8em;
  }
  .fretCount {
    font-size: 0.8em;
  }
  .buttons {
    flex-direction: initial;
  }
}