body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .trilha{
    /*estilizar depois*/
  }

  h1{
    color: #1d3557;
    margin-top: 50px;
  }
  
  p{
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .back-btn, button{
    background-color: #3275a8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
  }

  button>a{
    color: #fff;
  }

  button:hover{
    background-color: #457b9d;
  }

  a{
    text-decoration: none;
    color: #000000;
  }

  li{
    list-style-type: none;
  }