<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/assets/images/svg/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="container">
      <nav id="childrenPageNav">
        <a class="logo" href="/src/views/index.html">
          <img src="/src/assets/images/svg/logo.svg">
          <p data-text-node="appName"></p>
        </a>
        <a href="/src/views/exercises.html" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"></a>
        <div class="userUiSettings">
          <button id="changeTheme" value="dark"></button>
          <button id="englishTranslation" value="enus"><img src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
          <button id="portugueseTranslation" value="ptbr"><img src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
        </div>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText" data-text-node="presentationExercisesRhythm"></h1>
        </div>
      </div>
    </div>
    <div class="contentExercises">
      <div id="contentTextExercises"></div> 
    </div>
    <div id="exerciseScale">
      <label for="nivelDificuldade" class="presentationTextExercisesScale" data-text-node="presentationTextExercisesRhythm"></label>
      <select id="nivelDificuldade" class="select-dificuldadeExercises">
        <option value="basico" data-text-node="basicDifficulty"></option>
        <option value="intermediario" data-text-node="intermediateDifficulty"></option>
        <option value="avancado" data-text-node="advancedDifficulty"></option>
      </select>
    <div id="ball"></div>
    <button class="customElementExercisesScale" id="playButton">Toque o ritmo</button>
    <button class="customElementExercisesScale" id="stopButton">Stop</button>
    <button class="customElementExercisesScale" id="nextButton">Next</button>
    </div>
    <script src="../scripts/main.js" type="module"></script>
    <script src="../scripts/exercisesRhythm.js" defer></script>
    <script src="https://unpkg.com/tone"></script>
  </body>
</html>