<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Exercises Scale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">    <link rel="icon" type="image/x-icon" href="/assets/images/svg/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="container">
      <nav id="childrenPageNav">
        <a class="logo" href="/views/index.html">
          <img src="/assets/images/svg/logo.svg" title="logo">
          <p data-text-node="appName"></p>
        </a>
        <a href="/views/exercises.html" class="backBtn"><img src="/assets/images/svg/arrow-left.svg"  title="left arrow"></a>
        <div class="userUiSettings">
          <button id="changeTheme" value="dark" title="Change Theme"></button>
          <button id="englishTranslation" value="enus" title="Translate to English"><img src="https://www.countryflagicons.com/FLAT/32/US.png" style="height:32px;width:32px;" title="USA flag"></button>
          <button id="portugueseTranslation" value="ptbr" title="Translate to Portuguese"><img src="https://www.countryflagicons.com/FLAT/32/BR.png" style="height:32px;width:32px;" title="BRA flag"></button>
        </div>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText" data-text-node="presentationExercisesScale"></h1>
        </div>
      </div>
    </div>
    <div class="contentExercises">
      <div id="contentTextExercises"></div> 
    </div>
    <script src="../scripts/main.js" type="module"></script>
    <div id="exerciseScale">
      <label for="nivelDificuldade" class="presentationTextExercisesScale" data-text-node="presentationTextExercisesScale"></label>
      <select id="nivelDificuldade" class="select-dificuldadeExercises">
        <option value="basico" data-text-node="basicDifficulty">Basic</option>
        <option value="intermediario" data-text-node="intermediateDifficulty">Intermediate</option>
        <option value="avancado" data-text-node="advancedDifficulty">Advanced</option>
      </select>
      <button class="customElementExercisesScale" onclick="gerarEscala()" data-text-node="generateScale"></button>
      <p id="escalaIncompleta" class="presentationTextExercisesScale"></p>
      <p id="missingNotesText" class="presentationTextExercisesScale" data-text-node="missingNotesText" ></p>
      <input type="text" id="respostaEscala" class="customElementExercisesScale">
      <button class="customElementExercisesScale" onclick="verificarRespostaEscala()" data-text-node="checkAnswer"></button>
      <p id="resultadoEscala" class="presentationTextExercisesScale"></p>
    </div>
  <script src="../scripts/exercisesScale.js" defer></script>
</body>
</html>