<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 



  </head>

<body>
  <div class="container">
    <nav id="childrenPageNav">
      <a class="logo" href="/src/views/index.html">
        <img src="/src/assets/images/svg/logo.svg">
        <p>Aprendizagem musical</p>
      </a>
      <a href="/src/views/index.html" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"></a>
      <div class="userUiSettings">
        <button id="changeTheme" value="dark"></button>
        <button id="englishTranslation" value="enus"><img src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
        <button id="portugueseTranslation" value="ptbr"><img src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
      </div>
    </nav>
    <div class="presentation">
      <div class="presentationContent">
        <h1 class="presentationText" data-text-node="presentationExercises"></h1>
        <h2 class="presentationText" data-text-node="introductionExercises"></h2>
      </div>
    </div>
    <div class ="buttons">
      <a button  id = "exercisesPercepcaoMusical" data-text-node="exercisesPercepcaoMusical"></button></a>
      <a button id = "exercisesPercepcaoRitmica" data-text-node="exercisesPercepcaoRitmica"></button></a>
      <a button id = "exercisesCompleteEscala" data-text-node="exercisesCompleteEscala"></button></a>
    </div>
    <div id="difficultyOptions" style="display: none;">
      <select id="difficultySelect">
        <option value="basic" data-text-node="basicDifficulty"></option>
        <option value="intermediate" data-text-node="intermediateDifficulty"></option>
        <option value="advanced" data-text-node="advancedDifficulty"></option>
      </select>
    </div>
  </div>
  <div class="content">
    <div id="contentTextExercises"></div> 
  </div>
  <script src="../scripts/main.js" type="module"></script>
  <script src="../scripts/exercises.js" type="module"></script>
</body>
</html>