<!DOCTYPE html>
<html>
  <head>
    <header>
      <link rel="stylesheet" href="../styles/style.css">
    </header>
    <title>Modo Exercício</title>
  </head>
  <body>
    <div>
      <a href="paginainicial.html" style="color: black">
      <img src="teste2.jpg" width="30px" height="30px">
        APRENDIZAGEM MUSICAL
      <img src="teste2.jpg" width="30px" height="30px">
    </a>
    </div>
    <h1>Modo exercício</h1>
    <button><a href="percepcaomusical.html">Percepcao musical</a></button>
    <button><a href="percepcaoritimica.html">Percepcao rítimica</a></button>
    <button><a href="completeaescala.html">Complete a escala</a></button>
    <button id="botaohome"><a href="paginainicial.html"></a>Home</button>
    <button id="botao"><a href="proximoexercicio.html"> Próximo </a></button>
</body>
</html>