<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/assets/images/svg/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="container">
      <nav id="childrenPageNav">
        <a class="logo" href="/src/views/index.html">
          <img src="/src/assets/images/svg/logo.svg">
          <p data-text-node="appName"></p>
        </a>
        <a href="/src/views/index.html" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"></a>
        <div class="userUiSettings">
          <button id="changeTheme" value="dark"></button>
          <button id="englishTranslation" value="enus"><img src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
          <button id="portugueseTranslation" value="ptbr"><img src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
        </div>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText" data-text-node="presentationExercisesScale"></h1>
        </div>
      </div>
    </div>
    <div class="content">
      <div id="contentTextExercises"></div> 
    </div>
    <script src="../scripts/main.js" type="module"></script>
<div id="exerciseScale">
  <select id="nivelDificuldade">
    <option value="basico">Básico</option>
    <option value="intermediario">Intermediário</option>
    <option value="avancado">Avançado</option>
  </select>
    <button onclick="gerarEscala()">Gerar Escala</button>
    <p id="escalaIncompleta"></p>
    <p>Digite as notas que faltam na escala:</p>
    <input type="text" id="respostaEscala">
    <button onclick="verificarRespostaEscala()">Verificar Resposta</button>
    <p id="resultadoEscala"></p>
  </div>
  <script src="../scripts/exercisesScale.js" defer></script>
</body>
</html>