<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">    <link rel="icon" type="image/x-icon" href="/src/assets/images/svg/favicon.svg">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 



  </head>

<body>
  <div class="container">
    <nav id="childrenPageNav">
      <a class="logo" href="/src/views/index.html">
        <img src="/src/assets/images/svg/logo.svg" title="logo">
        <p data-text-node="appName"></p>
      </a>
      <a href="/src/views/index.html" aria-label="Back button" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"  title="left arrow"></a>
      <div class="userUiSettings">
        <button id="changeTheme" value="dark" title="Change Theme"></button>
        <button id="englishTranslation" value="enus" title="Translate to English"><img src="https://www.countryflagicons.com/FLAT/32/US.png" style="height:32px;width:32px;" title="USA flag"></button>
        <button id="portugueseTranslation" value="ptbr" title="Translate to Portuguese"><img src="https://www.countryflagicons.com/FLAT/32/BR.png" style="height:32px;width:32px;" title="BRA flag"></button>
      </div>
    </nav>
    <div class="presentation">
      <div class="presentationContent">
        <h1 class="presentationText" data-text-node="presentationExercises"></h1>
        <h2 class="presentationText" data-text-node="introductionExercises"></h2>
      </div>
    </div>
    <div class ="buttons">
      <div id="chooseMode" style="display: none;"></div>
      <button  id="exercisesPercepcaoMusical">
        <option value = "percepcao-musical" data-text-node="exercisesPercepcaoMusical"></option></button>
      <button id="exercisesPercepcaoRitmica">
        <option value = "percepcao-ritimica" data-text-node="exercisesPercepcaoRitmica"></option></button>
      <button id="exercisesCompleteEscala">
        <option value = "complete-escala" data-text-node="exercisesCompleteEscala"></option></button>
    </div>
  </div>
  <div class="content">
    <div id="contentTextExercises"></div> 
  </div>
  <script src="../scripts/main.js" type="module"></script>
  <script src="../scripts/exercises.js" type="module"></script>
</body>
</html>