<!DOCTYPE html>
<html>
  <head>
    <title>Exercício de Intervalo</title>
    <link rel="stylesheet" href="../styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/assets/images/svg/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="container">
      <nav id="childrenPageNav">
        <a class="logo" href="/src/views/index.html">
          <img src="/src/assets/images/svg/logo.svg">
          <p data-text-node="appName"></p>
        </a>
        <a href="/src/views/index.html" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"></a>
        <div class="userUiSettings">
          <button id="changeTheme" value="dark"></button>
          <button id="englishTranslation" value="enus"><img src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
          <button id="portugueseTranslation" value="ptbr"><img src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
        </div>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText" data-text-node="presentationExercisesIntervals"></h1>
        </div>
      </div>
    </div>
    <div class="contentExercises">
      <div id="contentTextExercises"></div> 
    </div>
    <script src="../scripts/main.js" type="module"></script>
    <script src="../scripts/exercises.js" type="module"></script>

    <!-- código original -->
<div id="exercicio">
    <div>
      <label for="level" data-text-node="Choosedifficulty"></label>
      <select id="level">
        <option value="easy" data-text-node="basicDifficulty"></option>
        <option value="medium" data-text-node="intermediateDifficulty"></option>
        <option value="hard" data-text-node="advancedDifficulty"></option>
      </select>
    </div>

    <div>
      <p id="question"></p>
      <input type="text" id="answer" />
      <button id="submit" data-text-node="toSend"></button>
      <button id="next" disabled data-text-node="nextExercise"></button>
    </div>

    <p id="feedback"></p>
  </div>
    <script src="../scripts/mainIntervals.js" type="module"></script>
  </body>
</html>