<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">    <link rel="icon" type="image/x-icon" href="/src/assets/images/svg/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="containerMainPage">
      <nav id="mainPageNav">
        <a class="logo" href="/src/views/index.html">
          <img src="/src/assets/images/svg/logo.svg" title="logo">
          <p data-text-node="appName"></p>
        </a>
        <div class="userUiSettings">
          <button id="changeTheme" value="dark" title="Change Theme"></button>
          <button id="englishTranslation" value="enus" title="Translate to English"><img src="https://www.countryflagicons.com/FLAT/32/US.png" style="height:32px;width:32px;" title="USA flag"></button>
          <button id="portugueseTranslation" value="ptbr" title="Translate to Portuguese"><img src="https://www.countryflagicons.com/FLAT/32/BR.png" style="height:32px;width:32px;" title="BRA flag"></button>
        </div>
      </nav>
      <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_JFORNm.json"  background="transparent"  speed="0.5" loop autoplay></lottie-player>
      <div class="presentationMainPage">
        <div class="presentationContentMainPage">
          <h1 class="presentationTextMainPage" data-text-node="presentationHeader"></h1>
          <h2 class="presentationTextMainPage" data-text-node="presentationSubHeader"></h2>
        </div>
      </div>
      <div class="buttons">
        <a href="/src/views/exercises.html" data-text-node="exercises"></a>
        <a href="/src/views/playground.html" data-text-node="playground"></a>
        <a href="/src/views/theory.html" data-text-node="theory"></a>
      </div>
    </div>
    <div class="content">
      <div class="text-container-home">
        <p id="wipTextHome"></p>
      </div>
    </div>
    <script src="../scripts/main.js" type="module"></script>
    <script src="../scripts/home.js" type="module"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>