<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="container">
      <div class="logo">[LOGO]</div>
      <nav>
        <div class="userUiSettings">
          <button id="changeTheme">dark</button>
          <button id="englishTranslation" value="enus">enus</button>
          <button id="portugueseTranslation" value="ptbr">ptbr</button>
        </div>
        <a href="#" data-text-node="home"></a>
        <a href="#" data-text-node="aboutUs"></a>
        <a href="#" data-text-node="contact"></a>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText" data-text-node="presentationHeader"></h1>
          <h2 class="presentationText" data-text-node="presentationSubHeader"></h2>
        </div>
      </div>
      <div class="buttons">
        <a href="/src/views/exercises.html" data-text-node="exercises"></a>
        <a href="/src/views/playground.html" data-text-node="playground"></a>
        <a href="/src/views/theory.html" data-text-node="theory"></a>
      </div>
    </div>
    <p>[CONTINUES]</p>


    <!-- <div>
      <a href="index.html" style="color: black">
        <img src="../assets/images/logo.jpg" width="30px" height="30px">
          APRENDIZAGEM MUSICAL
        <img src="../assets/images/logo.jpg" width="30px" height="30px">
      </a>
    </div>
    <h1>Aprendizagem Musical</h1>
    <p>Escolha uma das opções abaixo para começar:</p>
    <a href="playground.html" class="back-btn">Playground</a>
    <a href="exercises.html" class="back-btn">Exercícios</a>
    <a href="theory.html" class="back-btn">Teorias</a> -->
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>