<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <div class="container">
      <div class="logo">[LOGO]</div>
      <nav>
        <a href="#">Home</a>
        <a href="#">Sobre nos</a>
        <a href="#">Contato</a>
        <a href="#">Entrar</a>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText">Aprenda m'usicaa asdasfdpokfpoekfewefewfwefewfewfwefwefwef</h1>
          <h2 class="presentationText">Aprenda m'usicaa asdasfdpokfpoekfewefewfwefewfewfwefwefwef</h2>
        </div>
      </div>
      <div class="buttons">
        <a href="#">Exercícios</a>
        <a href="#">Playground</a>
        <a href="#">Teoria</a>
      </div>
    </div>
    <p>[CONTINUES]</p>


    <!-- <div>
      <a href="index.html" style="color: black">
        <img src="../assets/images/logo.jpg" width="30px" height="30px">
          APRENDIZAGEM MUSICAL
        <img src="../assets/images/logo.jpg" width="30px" height="30px">
      </a>
    </div>
    <h1>Aprendizagem Musical</h1>
    <p>Escolha uma das opções abaixo para começar:</p>
    <a href="playground.html" class="back-btn">Playground</a>
    <a href="exercises.html" class="back-btn">Exercícios</a>
    <a href="theory.html" class="back-btn">Teorias</a> -->
  </body>
</html>