<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <div class="container">
      <div class="logo" href="#">Voltar</div>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText">Playground: Modo Avançado</h1>
          <h2 class="presentationText">Escolha a diagramação
          </h2>
        </div>
      </div>
      <div class="buttons">
        <a>Violão</a>
        <a>Baixo</a>
        <a>Piano</a>
      </div>
      <!--<div class="container.content">
      <div> class="playground">[Playground logic]</div>
      <label>Escolha a nota
      <select name="" id="">
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
      </select>
    </label>
    <label>Escolha a escala
      <select name="" id="">
        <option value="major">Major</option>
        <option value="minor">Minor</option>
        <option value="chromatic">Chromatic</option>
      </select>
    </label>
  </div>
    </div>
    <p>[CONTINUES]</p>