<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playground - Modo Avançado</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div>
    <a href="index.html" style="color: black">
      <img src="../assets/images/logo.jpg" width="30px" height="30px">
        APRENDIZAGEM MUSICAL
      <img src="../assets/images/logo.jpg" width="30px" height="30px">
    </a>
  </div>
  
  <h1>Playground - Modo Avançado</h1>
  
  <div class="user-interaction">
    <label>Escolha a diagramação
      <button>Violão</button>
      <button>Baixo</button>
      <button>Piano</button>
    </label>
  </div>
 
  <div class="playground">[Playground logic]</div>
</body>
</html>