<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>playground - freeplay mode</title>
  <link rel="stylesheet" href="../styles/playground-freeplay-mode-styles.css">
</head>
<body>
  <a href="index.html">Voltar</a>

  <h1>Playground - freeplay mode</h1>

  <div class="user-interaction">
    <label>Escolha a diagramação
      <button>Violão</button>
      <button>Baixo</button>
      <button>Piano</button>
    </label>

    <div class="playground">[Playground logic]</div>

    <label>Choose root note
      <select name="" id="">
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
      </select>
    </label>

    <label>Choose scale
      <select name="" id="">
        <option value="major">Major</option>
        <option value="minor">Minor</option>
        <option value="chromatic">Chromatic</option>
      </select>
    </label>
  </div>
</body>
</html>