<!DOCTYPE html>
<html>

<head>
  <header>
    <link rel="stylesheet" href="../styles/style.css">
  </header>
  <title>Playground</title>
</head>
<body>
  <div>
    <a href="index.html" style="color: black">
      <img src="../assets/images/logo.jpg" width="30px" height="30px">
        APRENDIZAGEM MUSICAL
      <img src="../assets/images/logo.jpg" width="30px" height="30px">
    </a>
  </div>
  <h1>Playground</h1>
  <p>É um iniciante ou um expert?</p>
  <a href="playground-freeplay-mode.html" class="back-btn">Modo Livre</a>
  <a href="playground-advanced-mode.html" class="back-btn">Modo Avançado</a>
</body>

</html>
