<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="container">
      <nav id="childrenPageNav">
          <div class="logo">[LOGO]</div>
          <a  href="/src/views/playground.html">backBtn</a>
          <div class="userUiSettings">
            <button id="changeTheme">dark</button>
            <button id="englishTranslation" value="enus">enus</button>
            <button id="portugueseTranslation" value="ptbr">ptbr</button>
          </div>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText">Playground: Modo Avançado</h1>
          <h2 class="presentationText">Escolha a diagramação
          </h2>
        </div>
      </div>
      <div class="buttons">
        <a>Violão</a>
        <a>Baixo</a>
        <a>Piano</a>
      </div>
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>