<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/playground.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">    <link rel="icon" type="image/x-icon" href="/assets/images/svg/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <nav id="minimalNav">
      <a class="logo" href="/views/index.html">
        <img src="/assets/images/svg/logo.svg" title="logo">
        <p data-text-node="appName"></p>
      </a>
      <a href="/views/playground.html" class="backBtn"><img src="/assets/images/svg/arrow-left.svg"  title="left arrow"></a>
      <div class="userUiSettings">
        <button id="changeTheme" value="dark" title="Change Theme"></button>
        <button id="englishTranslation" value="enus" title="Translate to English"><img src="https://www.countryflagicons.com/FLAT/32/US.png" style="height:32px;width:32px;" title="USA flag"></button>
        <button id="portugueseTranslation" value="ptbr" title="Translate to Portuguese"><img src="https://www.countryflagicons.com/FLAT/32/BR.png" style="height:32px;width:32px;" title="BRA flag"></button>
      </div>
    </nav>
    <div class="playground">
      <div class="buttons">
        <button type="button" id="guitarBtn" value="guitar" data-text-node="playgroundViolao"></button>
        <button type="button" id="bassBtn" value="bass" data-text-node="playgroundBaixo"></button>
        <button type="button" id="pianoBtn" value="piano" data-text-node="playgroundPiano"></button>
      </div>
      
      <div class="playgroundField" id="tunningBtn">
        <label for="tunning">Tunning</label>
        <select name="tunning" id="tunning"></select>
      </div>
      
      <div class="playgroundField" id="rootNoteBtn">
        <label for="rootNote">Root Note</label>
        <select name="rootNote" id="rootNote"></select>
      </div>

      <div class="playgroundField" id="scaleBtn">
        <label for="scale">Scale</label>
        <select name="scale" id="scale"></select>
      </div>

      <div class="playgroundField" id="sharpFlatBtn">
        <button value="#">Show b</button>
      </div>
      <div class="diagram"></div>
    </div>
    <script src="../scripts/main.js" type="module"></script>
    <script src="../scripts/scales.js" type="module"></script>
  </body>