<!DOCTYPE html>
<html>

<head>
  <header>
    <link rel="stylesheet" href="../styles/style.css">
  </header>
  <title>Playground</title>
</head>
<body>
  <div>
    <a href="paginainicial.html" style="color: black">
    <img src="teste2.jpg" width="30px" height="30px">
      APRENDIZAGEM MUSICAL
    <img src="teste2.jpg" width="30px" height="30px">
  </a>
  </div>
  <h1>Playground</h1>
  <p>É um iniciante ou um expert?</p>
  <button><a href="estudolivre.html">Estudo Livre</a></button>
  <button><a href="modoavancado.html">Modo Avançado</a></button>
</body>

</html>
