<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <div class="container">
      <div class="voltar" href="/src/views/index.html">
        <a href="/src/views/index.html">Voltar</a>
      </div>
      <nav>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText">Playground</h1>
          <h2 class="presentationText">Bem vindo ao Playground. Escolha abaixo qual modo voce irá utilizar
            <p>> MODO LIVRE: Caso voce seja livrão   > MODO AVANCADO: Caso vc seja desumilde</p>
          </h2>
        </div>
      </div>
      <div class="buttons">
        <a href="/src/views/playground-freeplay-mode.html">Modo Livre</a>
        <a href="/src/views/playground-advanced-mode.html">Modo Avançado</a>
      </div>
    </div>
    

    <!-- <div>
      <a href="index.html" style="color: black">
        <img src="../assets/images/logo.jpg" width="30px" height="30px">
          APRENDIZAGEM MUSICAL
        <img src="../assets/images/logo.jpg" width="30px" height="30px">
      </a>
    </div>
    <h1>Aprendizagem Musical</h1>
    <p>Escolha uma das opções abaixo para começar:</p>
    <a href="playground.html" class="back-btn">Playground</a>
    <a href="exercises.html" class="back-btn">Exercícios</a>
    <a href="theory.html" class="back-btn">Teorias</a> -->
  </body>
</html>