<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Índice</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body class="theory">
    <div>
        <a href="index.html" style="color: black">
            <img src="../assets/images/logo.jpg" width="30px" height="30px">
              APRENDIZAGEM MUSICAL
            <img src="../assets/images/logo.jpg" width="30px" height="30px">
          </a>
    </div>

    <h1>Teorias</h1>
    
    <p>Nessa página você encontra todo o conteúdo teórico,
        organizado por sessões específicas para facilitar a navegação.</p>
    <p>O que gostaria de aprender?</p>

    <button>Violão</button> 
    <button>Baixo</button>
    <button>Piano</button>
    <button>Nenhum instrumento específico</button>
    
    
    <div class="trilha">
        <h2>Teoria Musical</h2>
        <ul>
            <li><a href="#">Teoria Musical I: Leitura em Clave de Sol e Fá</a></li>
            <li><a href="#">Teoria Musical II: Escala Maior</a></li>
            <li><a href="#">Teoria Musical III: Intervalos</a></li>
            <li><a href="#">Teoria Musical IV: Ciclo de Quintas</a></li>
            <li><a href="#">Teoria Musical V: Tonalidade Relativa e Escala Menor</a></li>
            <li><a href="#">Teoria Musical VI: Tríades e Campo Harmônico</a></li>
            <li><a href="#">Teoria Musical VII: Campo Harmônico Menor</a></li>
            <li><a href="#">Teoria Musical VIII: Tétrades no Modo Maior</a></li>
            <li><a href="#">Teoria Musical IX: Tétrades no Modo Menor</a></li>
            <li><a href="#">Teoria Musical X: Progressão Harmônica</a></li>
        </ul>

    <h2>Ritmo</h2>
        <ul>
            <li><a href="#">Teoria Musical: Leitura em Clave Neutra (complemento para bateria/percussão)</a></li>
            <li><a href="#">Teoria Musical: Fórmula de Compasso</a></li>
            <li><a href="#">Teoria Musical: Classificação de Compasso</a></li>
            <li><a href="#">Ditado Rítmico: Introdução ao Método Pozzoli</a></li>
            <li><a href="#">Ditado Rítmico: Método Pozzoli – Primeira Série</a></li>
            <li><a href="#">Ditado Rítmico: Método Pozzoli – Segunda Série</a></li>
        </ul>
    
    <h2>Harmonia</h2>
        <ul>
            <li><a href="#">Introdução à Harmonia</a></li>
            <li><a href="#">Harmonia I – Horizontalidade das Vozes</a></li>
            <li><a href="#">Harmonia II – Verticalidade das Vozes</a></li>
            <li><a href="#">Harmonia III – Condução de Vozes</a></li>
        </ul>

    <h2>História da música</h2>
        <ul>
            <li><a href="#">Introdução à História da Música Ocidental</a></li>
            <li><a href="#">História I: A Herança Grega</a></li>
            <li><a href="#">Universais e Particulares na música</a></li>
            <li><a href="#">História II: A Música da Antiga Roma</a></li>
            <li><a href="#">Ensaio sobre Estética Musical</a></li>
        </ul>
    
    </div>
</body>
</html>