<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/assets/images/svg/favicon.svg">
    <title>Teorias</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body class="theory">
   

    <div class="container">
        <nav id="childrenPageNav">
            <a class="logo" href="/src/views/index.html">
              <img src="/src/assets/images/svg/logo.svg">
              <p data-text-node="appName"></p>
            </a>
            <div class="userUiSettings">
              <button id="changeTheme" value="dark"></button>
              <button id="englishTranslation" value="enus"><img src="https://www.countryflagicons.com/FLAT/32/US.png"></button>
              <button id="portugueseTranslation" value="ptbr"><img src="https://www.countryflagicons.com/FLAT/32/BR.png"></button>
            </div>
          </nav>

        <div class="presentation">
          <div class="presentationContent">
            <h1 class = "presentationText" data-text-node="presentationHeaderModules"></h1>
            <h2 class="presentationText" data-text-node="presentationModules"></h2>
            <h3 class="presentationText" data-text-node="introductionModules"></h3>
            <p class="presentationText" data-text-node="moduleChoiceText"></p>
          </div>
        </div>
    </div>

    <div>


        <section class="card-container">
            <header class="card-header">
                <a href="theory-module-1.html" data-text-node="module-1" class="card-title"></a>
            </header>
            <div class="card-list">
                <a href="theory/unit-1.html" data-text-node="unit-1"></a>
                <a href="#" data-text-node="unit-2"></a>
                <a href="#" data-text-node="unit-3"></a>
            </div>
        </section>

        <section class="card-container">
            <header class="card-header">
                <a href="#" data-text-node="module-2" class="card-title"></a>
            </header>
            <div class="card-list">
                <a href="#"  data-text-node="unit-4"></a>
                <a href="#" data-text-node="unit-5"></a>
                <a href="#" data-text-node="unit-6"></a>
                <a href="#" data-text-node="unit-7"></a>
                <a href="#" data-text-node="unit-8"></a>
                <a href="#" data-text-node="unit-9"></a>
                <a href="#" data-text-node="unit-10"></a>
                <a href="#" data-text-node="unit-11"></a>
                <a href="#" data-text-node="unit-12"></a>
                <a href="#" data-text-node="unit-13"></a>
                <a href="#" data-text-node="unit-14"></a>
                <a href="#" data-text-node="unit-15"></a>
            </div>
        </section>

        <section class="card-container">
            <header class="card-header">
                <a href="#" data-text-node="module-3" class="card-title"></a>
            </header>
            <div class="card-list">
                <a href="#" data-text-node="unit-16"></a>
            </div>
        </section>

        <section class="card-container">
            <header class="card-header">
                <a href="#" data-text-node="module-4" class="card-title"></a>
            </header>   
            <div class="card-list">
                <a href="#" data-text-node="unit-17"></a>
                <a href="#" data-text-node="unit-18"></a>
                <a href="#" data-text-node="unit-19"></a>
                <a href="#" data-text-node="unit-20"></a>
                <a href="#" data-text-node="unit-21"></a>
                <a href="#"data-text-node="unit-22"></a>
                <a href="#" data-text-node="unit-23"></a>
                <a href="#" data-text-node="unit-24"></a>
                <a href="#" data-text-node="unit-25"></a>
                <a href="#" data-text-node="unit-26"></a>
                <a href="#" data-text-node="unit-27"></a>
                <a href="#" data-text-node="unit-28"></a>
                <a href="#" data-text-node="unit-29"></a>
                <a href="#" data-text-node="unit-30"></a>
                <a href="#" data-text-node="unit-31"></a>
                <a href="#" data-text-node="unit-32"></a>
                <a href="#" data-text-node="unit-33"></a>
                <a href="#" data-text-node="unit-34"></a>
                <a href="#" data-text-node="unit-35"></a>
                <a href="#" data-text-node="unit-36"></a>
                <a href="#" data-text-node="unit-37"></a>
                <a href="#" data-text-node="unit-38"></a>
                <a href="#" data-text-node="unit-39"></a>
            </div>
        </section>

        <section class="card-container">
            <header class="card-header">
                <a href="#" data-text-node="module-5" class="card-title"></a>
            </header>
            <div class="card-list">
                <a href="#" data-text-node="unit-40"></a>
                <a href="#" data-text-node="unit-41"></a>
            </div>
        </section>
        

        <section class="card-container">
            <header class="card-header">
                <a href="#" data-text-node="module-6" class="card-title"></a>
            </header>
            <div class="card-list">
                <a href="#" data-text-node="unit-42"></a>
                <a href="#" data-text-node="unit-43"></a>
            </div>
        </section>

    </div>
    <script src="../scripts/main.js" type="module"></script>
</body>
</html>