<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/courseStyle.css">
    <title>Aprendizagem Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <meta charset="UTF-8">    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <nav id="mainPageNav">
        <a class="logo" href="/views/index.html">
          <img src="../assets/images/svg/logo.svg">
          <p data-text-node="appName"></p>
        </a>
        <a href="/src/views/index.html" aria-label="Back button" class="backBtn"><img src="/src/assets/images/svg/arrow-left.svg"  title="left arrow"></a>
        <div class="userUiSettings">
          <button id="changeTheme" value="dark" title="Change Theme"></button>
          <button id="englishTranslation" value="enus" title="Translate to English"><img src="https://www.countryflagicons.com/FLAT/32/US.png" style="height:32px;width:32px;" title="USA flag"></button>
          <button id="portugueseTranslation" value="ptbr" title="Translate to Portuguese"><img src="https://www.countryflagicons.com/FLAT/32/BR.png" style="height:32px;width:32px;" title="BRA flag"></button>
        </div>
      </nav>
      <div class="presentation">
        <div class="presentationContent">
          <h1 class="presentationText" data-text-node="presentationHeaderTheory"></h1>
          <h2 class="presentationText" data-text-node="introductionTheory"></h2>
          <p class="presentationText"data-text-node="messageTheory"></p>
          
        </div>
      </div>

    </div>

    <!--content-->

    <div class="content">
      </div>
      <div class="courses">
        <h1 data-text-node="courseHeader"></h1>
        <div class="course-info-box-container" id="elemento-dinamico">

        </div>
      </div>
      <div class="index-call-to-action-container">
        <p data-text-node="instrumentQuizzPrompt"></p>
        <a href="theory-quizz.html" data-text-node="QuizzText">Test</a>
      </div>
    </div>
    <script src="../scripts/cardsGenerator.js"></script>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>